{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-4 well  col-sm-offset-4">
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}


<button class="btn btn-default" type="submit">Register!</button>
        <a class="glyphicon glyphicon-log-out" href="/logout"> </a>
{{ form_end(form) }}

    </div>

{% endblock %}