{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-4 well  col-sm-offset-4">
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}


<button class="glyphicon glyphicon-save btn btn-default" type="submit">&nbsp;Register!</button>
        <a  href="/logout"> <button class="glyphicon glyphicon-log-out btn btn-default">&nbsp;logout</button></a>
{{ form_end(form) }}

    </div>

{% endblock %}